.password-list {
	td {
		vertical-align: middle!important;

		&.actions {
			text-align: right;
			min-width: 100px;
		}
	}

	td:last-child,
	th:last-child {
		width: 1px!important;
	}

	tr {
		&.deleted,
		&.volatile {
			color: #999;

			a {
				color: #999;
			}

			td {
				.password-wrapper {
					background-color: #999;
				}
			}
		}

		&.deleted {
			text-decoration: line-through;
		}
	}
}

.password-wrapper {
	background-color: #000;

	.password {
		opacity: 0;
	}
}

.password-box {
	.text {
		line-height: 34px;

		overflow: hidden;
		text-overflow: ellipsis;
	}

	.action {
		button {
			width: 100%;
		}
	}

	.row > div {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.searchbox {
	margin-top: 23px;
}

.search-match {
	color: #D00;
}

p.code {
	background-color: #DDD;
	color: #333;

	font-family: monospace;

	margin-top: 10px;

	padding: 10px;
	border-radius: 5px;

	word-wrap: break-word;
}
