.password-list-header {
	margin-bottom: 20px;

	h1 {
		float: left;
		margin-bottom: 0;

		@media (max-width: 560px) {
			float: none;
		}
	}

	.searchbox {
		float: right;
		margin-top: 23px;

		@media (max-width: 560px) {
			float: none;
			width: 100%;
		}
	}
}

.password-list {
	table-layout: fixed;

	td {
		vertical-align: middle!important;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&.actions {
			text-align: center;
		}
	}

	th:last-child {
		width: 101px;
	}

	tr {
		&.deleted,
		&.volatile {
			color: #999;

			a {
				color: #999;
			}

			td {
				.password-wrapper {
					background-color: #999;
				}
			}
		}

		&.deleted {
			text-decoration: line-through;
		}
	}
}

.copyable-password {
	.password-wrapper {
		cursor: pointer;
	}
}

.password-list-footer {
	.show-hide-button {
		float: left;

		@media (max-width: 360px) {
			float: none;
			width: 100%;

			margin-bottom: 10px;
		}
	}

	.undo-redo-buttons {
		float: right;

		@media (max-width: 360px) {
			float: none;

			button {
				width: 48%;

				&:first-child {
					float: left;
				}

				&:last-child {
					float: right;
				}
			}
		}
	}
}

.password-wrapper {
	background-color: #000;

	.password-value {
		opacity: 0;
	}
}

.password-box {
	.text {
		line-height: 34px;

		overflow: hidden;
		text-overflow: ellipsis;
	}

	.action {
		button {
			width: 100%;
		}
	}

	.row > div {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	input,
	button {
		margin: 5px 0;
	}
}

.search-match {
	color: #D00;
}

p.code {
	background-color: #DDD;
	color: #333;

	font-family: monospace;
	font-size: 0.7em;

	margin-top: 10px;

	padding: 10px;
	border-radius: 5px;

	word-break: break-all;
}
